#root {
  max-width: 1280px;
  margin: auto;
}
body {
  margin: 0;
  font-family: -apple-system, Open Sans,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #45852D;
}

.App {

  margin: auto;
}
