.filter {
  display: flex;
  width: 474px;
  justify-content: space-between;
  margin-bottom: 45px;

  &__label {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #363636;
    align-self: center;
  }

  &__input {
    width: 418px;
    height: 50px;
    border: 1px solid #D8D8D8;
    border-radius: 25px;
    padding: 0 20px 0;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .filter {
    margin: 0 auto 45px;
    justify-content: space-around;

    &__input {

      width: 300px;
    }
  }

}

